.me {
	border-radius: 80px;
	width: 15%;
	float: left;
	margin-right: 3em;
	clear: all;
}

@media all and (min-width: 699px) {

	body {
	    background-color: #DDD;
	}
	
	.canvas {
		width:80%;
		margin: 20px auto;
		box-shadow: 0 0 20px #AAA;
		}
	
	.sites li {
		width: 45%;
		height: 2rem;
		position: relative;
		background-color: #F4F4F4;
		margin: 2px 3% 2px 0;
		padding: 0;
		float: left;
	}
	
	nav ul li {
	    display: inline;
	    margin: 5px 5px 5px 0;
	    padding: 4px 12px;
		background-color: #EEE;
		border-radius: 2px;
	}



}

